<!DOCTYPE html>
<html>
<head>
    <title>Edit Your Information</title>
    <link rel="stylesheet" type="text/css" href="/css/guest-infos.css">
</head>
<body>
    <div class="guest-container">
        <header>
            <h1>Edit Your Information</h1>
        </header>
        <main>
            <form action="/guest-infos" method="POST">
                <div>
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" value="<%= user.Name %>">
                </div>
                <div>
                    <label for="dob">Date of Birth:</label>
                    <input type="date" id="dob" name="dob" value="<%= user.DOB %>">
                </div>
                <div>
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" value="<%= user.Email %>">
                </div>
                <div>
                    <label for="phone">Phone:</label>
                    <input type="tel" id="phone" name="phone" value="<%= user.Phone %>">
                </div>
                <div>
                    <label for="address">Address:</label>
                    <input type="text" id="address" name="address" value="<%= user.Address %>">
                </div>
                <div>
                    <label for="newpass">New Password:</label>
                    <input type="password" id="newpass" name="newpass">
                </div>
                <div>
                    <label for="password">Current Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div>
                    <button type="submit">Update Information</button>
                </div>
            </form>
            <form action="/guest" method="GET">
                <button type="submit">Cancel</button>
            </form>
        </main>
    </div>
</body>
</html>
