<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rooms</title>
    <link rel="stylesheet" href="/css/guest-rooms.css">
    <script>
        function FilterForm() {
            if(document.getElementById('FilterForm').style.display === 'none'){
                document.getElementById('FilterForm').style.display = 'block';
            } else {
                document.getElementById('FilterForm').style.display = 'none';
            }
        }
    </script>
</head>
<body>
    <header>
        <h1>Sigma Hotel</h1>
        <nav>
            <ul>
                <li><a href="/guest">Rooms</a></li>
                <li><a href="/guest-bookings">My Bookings</a></li>
                <li><a href="/guest-payments">My Payments</a></li>
                <li><a href="/guest-infos">Edit Info</a></li>
                <li><a href="/login">Logout</a></li>
            </ul>
        </nav>
    </header>
    <button class="filter-btn" id="filter-btn" onclick="FilterForm()">Filter</button>
        <form id="FilterForm" action="/guest-rooms" method="GET" style="display:none;">
            <h2> Filter </h2>
            <div>
                <label for="filterType">Type:</label>
                <input type="text" id="filterType" name="filterType">
            </div>
            <div>
                <label for="filterStatus">Status:</label>
                <input type="text" id="filterStatus" name="filterStatus">
            </div>
            <div>
                <label for="filterCapacity">Capacity:</label>
                <input type="text" id="filterCapacity" name="filterCapacity">
            </div>
            <div>
                <label for="filterPrice">Price:</label>
                <input type="text" id="filterPrice" name="filterPrice">
            </div>
            <div>
                <label for="orderBy">Order By:</label>
                <select name="orderBy" id="orderBy" size="1">
                    <option value="RoomNumber">Room Number</option>
                    <option value="Description">Type</option>
                    <option value="Status">Status</option>
                    <option value="Capacity">Capacity</option>
                    <option value="PricePerNight">Price</option>
                </select>
            </div>
            <div>
                <label for="desc">Sort:</label>
                <select name="desc" id="desc" size="1">
                    <option value="ASC">ASC</option>
                    <option value="DESC">DESC</option>
                </select>
            </div>
            <div>
                <button type="submit">Apply Filter</button>
            </div>
        </form>
    <div class="room-cards">
        <% rooms.forEach(room => { %>
            <div class="room-card">
                <img src="/img/<%= room.TypeID %>.jpg" alt="<%= room.RoomNumber %>">
                <h2>ROOM <%= room.RoomNumber %></h2>
                <p>Type: <%= room.Description %></p>
                <p>Capacity: <%= room.Capacity %></p>
                <div class="price-booking">
                    <span class="price">$<%= room.PricePerNight %> per night</span>
                    <button class="book-now">BOOK NOW</button>
                </div>
            </div>
        <% }); %>
    </div>
</body>
</html>
