<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>My Payments</title>

        <!-- Embed fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet"
        />

        <!-- Reset CSS -->
        <link rel="stylesheet" href="/css/reset.css" />

        <!-- Style CSS -->
        <link rel="stylesheet" href="/css/common.css" />
        <link rel="stylesheet" href="/css/table.css" />
        <script>
            // Filter Open Function
            function FilterOpen() {
                document.getElementById("filter-form").style.display = "block";
                document.getElementById("overlay").style.display = "block";
            }
            // Filter Close Function
            function FilterClose() {
                document.getElementById("filter-form").style.display = "none";
                document.getElementById("overlay").style.display = "none";
            }
        </script>
    </head>

    <body>
        <!-- Overlay -->
        <div id="overlay" class="overlay" style="display: none"></div>

        <!-- Header bar -->
        <div class="header-bar">
            <div class="header-bar__inner">
                <!-- Logo -->
                <a href="/">
                    <div class="logo">
                        <span class="sigma">Sigma</span>
                        <br />
                        Hotel
                    </div>
                </a>

                <!-- Navbar -->
                <nav class="navbar">
                    <ul class="navbar__list">
                        <li class="navbar__item">
                            <a href="/guest-rooms" class="navbar__link">
                                Rooms
                            </a>
                        </li>
                        <li class="navbar__item">
                            <a href="/guest-bookings" class="navbar__link">
                                My Bookings
                            </a>
                        </li>
                        <li class="navbar__item">
                            <a
                                href="/guest-payments"
                                class="navbar__link"
                                style="text-decoration: underline"
                            >
                                My Payments
                            </a>
                        </li>
                        <li class="navbar__item">
                            <a href="/guest-infos" class="navbar__link">
                                Edit Info
                            </a>
                        </li>
                    </ul>
                </nav>

                <!-- Action -->
                <div class="navbar-action">
                    <a href="/login" class="btn signup">Logout</a>
                </div>
            </div>
        </div>

        <!-- Filter Button-->
        <div class="container">
            <h1 class="section-title">My Payments</h1>
            <button
                class="top-btn table-btn"
                id="filter-btn"
                onclick="FilterOpen()"
            >
                Filter
            </button>
            <main>
                    <h2 class="subsection-title">Payment History</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Payment ID</th>
                                <th>Booking ID</th>
                                <th>Amount</th>
                                <th>Date</th>
                                <th>Method</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% users.forEach(user => { %>
                            <tr>
                                <td><%= user.PaymentID %></td>
                                <td><%= user.BookingID %></td>
                                <td><%= user.Amount %></td>
                                <td><%= user.PDate %></td>
                                <td><%= user.PaymentMethod %></td>
                            </tr>
                            <% }) %>
                            <!-- Add more payments rows as needed -->
                        </tbody>
                    </table>
                </section>
            </main>
        </div>

        <!-- Footer -->
        <footer>
            <div id="contact" class="container">
                <h2 class="section-title footer-title">Get in Touch</h2>
                <div class="footer-content">
                    <ul class="footer-left">
                        <h3 class="subsection-title">Quick link</h3>
                        <a href="#!" class="footer-link"
                            ><li class="footer-item">Home</li></a
                        >
                        <a href="#!" class="footer-link"
                            ><li class="footer-item">Services</li></a
                        >
                        <a href="#!" class="footer-link"
                            ><li class="footer-item">About us</li></a
                        >
                        <a href="#!" class="footer-link"
                            ><li class="footer-item">Contact</li></a
                        >
                    </ul>
                    <div class="footer-middle">
                        <p class="section-desc footer-desc">
                            Lorem ipsum, dolor sit amet consectetur adipisicing
                            elit. Officia eaque incidunt ea aut iure.
                            Blanditiis.
                        </p>
                        <form action="" class="footer-form">
                            <div class="footer-input">
                                <input
                                    type="text"
                                    name=""
                                    id=""
                                    placeholder="Enter Edging Email"
                                    class="footer-info"
                                />
                                <input
                                    type="submit"
                                    value="Submit"
                                    class="footer-info"
                                />
                            </div>
                        </form>
                    </div>
                    <ul class="footer-right">
                        <h3 class="subsection-title">Useful</h3>
                        <a href="#!" class="footer-link">
                            <li class="footer-item">Privacy policy</li>
                        </a>
                        <a href="#!" class="footer-link"
                            ><li class="footer-item">Legal</li></a
                        >
                        <a href="#!" class="footer-link"
                            ><li class="footer-item">FAQ</li></a
                        >
                        <a href="#!" class="footer-link"
                            ><li class="footer-item">Blogs</li></a
                        >
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>
