<!DOCTYPE html>
<html>
    <head>
        <title>Manage Bookings</title>
        <!-- Embed fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet"
        />

        <!-- Reset CSS -->
        <link rel="stylesheet" href="/css/reset.css" />

        <!-- Style -->
        <link rel="stylesheet" href="/css/common.css" />
        <link rel="stylesheet" href="/css/form.css" />
        <link rel="stylesheet" href="/css/table.css" />

        <script>
            // Filter Open Function
            function FilterOpen() {
                document.getElementById("filter-form").style.display = "block";
                document.getElementById("overlay").style.display = "block";
            }
            // Filter Close Function
            function FilterClose() {
                document.getElementById("filter-form").style.display = "none";
                document.getElementById("overlay").style.display = "none";
            }
        </script>
    </head>
    <body>
        <!-- Overlay -->
        <div id="overlay" class="overlay" style="display: none"></div>

        <!-- Header bar -->
        <div class="header-bar">
            <div class="header-bar__inner">
                <!-- Logo -->
                <a href="/admin">
                    <div class="logo">
                        <span class="sigma">Sigma</span>
                        <br />
                        Hotel
                    </div>
                </a>

                <!-- Navbar -->
                <nav class="navbar">
                    <ul class="navbar__list">
                        <li class="navbar__item">
                            <a href="/manage-users" class="navbar__link">
                                Users
                            </a>
                        </li>
                        <li class="navbar__item">
                            <a href="/manage-staffs" class="navbar__link">
                                Staffs
                            </a>
                        </li>
                        <li class="navbar__item">
                            <a href="/manage-rooms" class="navbar__link">
                                Rooms
                            </a>
                        </li>
                        <li class="navbar__item">
                            <a
                                href="/manage-bookings"
                                class="navbar__link"
                                style="text-decoration: underline"
                            >
                                Bookings
                            </a>
                        </li>
                        <li class="navbar__item">
                            <a href="/manage-payments" class="navbar__link">
                                Payments
                            </a>
                        </li>
                    </ul>
                </nav>

                <!-- Action -->
                <div class="header-action">
                    <a href="login" class="btn signup">Logout</a>
                </div>
            </div>
        </div>

        <!-- Filter form -->
        <form
            id="filter-form"
            class="popUp-form"
            action="/manage-bookings"
            method="GET"
            style="display: none"
        >
            <h2 class="subsection-title">Filter</h2>

            <div class="form-item">
                <label for="filterUsername">Username:</label>
                <input
                    class="form-input"
                    type="text"
                    id="filterUsername"
                    name="filterUsername"
                />
            </div>

            <div class="form-item">
                <label for="filterName">Name:</label>
                <input
                    class="form-input"
                    type="text"
                    id="filterName"
                    name="filterName"
                />
            </div>

            <div class="form-item">
                <label for="filterDOB">DOB:</label>
                <input
                    class="form-input"
                    type="text"
                    id="filterDOB"
                    name="filterDOB"
                />
            </div>

            <div class="form-item">
                <label for="filterAddress">Address:</label>
                <input
                    class="form-input"
                    type="text"
                    id="filterAddress"
                    name="filterAddress"
                />
            </div>

            <div class="form-item">
                <label for="filterPhone">Phone:</label>
                <input
                    class="form-input"
                    type="text"
                    id="filterPhone"
                    name="filterPhone"
                />
            </div>

            <div class="form-item">
                <label for="filterEmail">Email:</label>
                <input
                    class="form-input"
                    type="text"
                    id="filterEmail"
                    name="filterEmail"
                />
            </div>

            <div class="form-item">
                <label for="orderBy">Order By:</label>
                <select class="form-input" name="orderBy" id="orderBy" size="1">
                    <option value="GuestID">ID</option>
                    <option value="Username">Username</option>
                    <option value="Name">Name</option>
                    <option value="DOB">DOB</option>
                    <option value="Address">Address</option>
                    <option value="Phone">Phone</option>
                    <option value="Email">Email</option>
                </select>
            </div>

            <div class="form-item">
                <label for="desc">Sort:</label>
                <select class="form-input" name="desc" id="desc" size="1">
                    <option value="ASC">ASC</option>
                    <option value="DESC">DESC</option>
                </select>
            </div>

            <div class="form-item">
                <button class="table-btn table-btn__add" type="submit">
                    Apply Filter
                </button>
                <button
                    class="table-btn table-btn__delete"
                    onclick="FilterClose()"
                >
                    Cancel
                </button>
            </div>
        </form>

        <div class="container">
            <header>
                <h1 class="section-title">Manage Bookings</h1>
            </header>

            <!-- Top Button Open -->
            <div class="top-btn__wrap">
                <button
                    class="top-btn table-btn"
                    id="filter-btn"
                    onclick="FilterOpen()"
                >
                    Filter
                </button>
            </div>

            <main>
                <h2 class="subsection-title">Bookings List</h2>
                <table>
                    <thead>
                        <tr>
                            <th>BookingID</th>
                            <th>GuestID</th>
                            <th>Room Number</th>
                            <th>Check-in Date</th>
                            <th>Check-out Date</th>
                            <th>Total Price</th>
                            <th>Payment Method</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% bookings.forEach(booking => { %>
                        <tr>
                            <td><%= booking.BookingID %></td>
                            <td><%= booking.GuestID %></td>
                            <td><%= booking.RoomNumber %></td>
                            <td><%= booking.inDate %></td>
                            <td><%= booking.outDate %></td>
                            <td><%= booking.TotalPrice %></td>
                            <td><%= booking.PaymentMethod %></td>
                            <td>
                                <form method="POST" action="/delete-booking">
                                    <input
                                        type="hidden"
                                        name="BookingID"
                                        value="<%= booking.BookingID %>"
                                    />
                                    <button
                                        class="table-btn table-btn__delete"
                                        type="submit"
                                    >
                                        Delete
                                    </button>
                                </form>
                            </td>
                        </tr>
                        <% }) %>
                        <!-- Add more rows as needed -->
                    </tbody>
                </table>
            </main>
        </div>

        <!-- Footer -->
        <footer>
            <div id="contact" class="container">
                <h2 class="section-title footer-title">Get in Touch</h2>
                <div class="footer-content">
                    <ul class="footer-left">
                        <h3 class="subsection-title">Quick link</h3>
                        <a href="#!" class="footer-link"
                            ><li class="footer-item">Home</li></a
                        >
                        <a href="#!" class="footer-link"
                            ><li class="footer-item">Services</li></a
                        >
                        <a href="#!" class="footer-link"
                            ><li class="footer-item">About us</li></a
                        >
                        <a href="#!" class="footer-link"
                            ><li class="footer-item">Contact</li></a
                        >
                    </ul>
                    <div class="footer-middle">
                        <p class="section-desc footer-desc">
                            Lorem ipsum, dolor sit amet consectetur adipisicing
                            elit. Officia eaque incidunt ea aut iure.
                            Blanditiis.
                        </p>
                        <form action="" class="footer-form">
                            <div class="footer-input">
                                <input
                                    type="text"
                                    name=""
                                    id=""
                                    placeholder="Enter Edging Email"
                                    class="footer-info"
                                />
                                <input
                                    type="submit"
                                    value="Submit"
                                    class="footer-info"
                                />
                            </div>
                        </form>
                    </div>
                    <ul class="footer-right">
                        <h3 class="subsection-title">Useful</h3>
                        <a href="#!" class="footer-link">
                            <li class="footer-item">Privacy policy</li>
                        </a>
                        <a href="#!" class="footer-link"
                            ><li class="footer-item">Legal</li></a
                        >
                        <a href="#!" class="footer-link"
                            ><li class="footer-item">FAQ</li></a
                        >
                        <a href="#!" class="footer-link"
                            ><li class="footer-item">Blogs</li></a
                        >
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>
