<!DOCTYPE html>
<html>
    <head>
        <title>Manage Users</title>

        <!-- Embed fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet"
        />

        <!-- Reset CSS -->
        <link rel="stylesheet" href="/css/reset.css" />

        <!-- Style -->
        <link rel="stylesheet" href="/css/common.css" />
        <link rel="stylesheet" href="/css/table.css" />
        <script>
            // Add Open Function
            function AddOpen() {
                document.getElementById("add-form").style.display = "block";
                document.getElementById("overlay").style.display = "block";
            }
            // Add Close Function
            function AddClose() {
                document.getElementById("add-form").style.display = "none";
                document.getElementById("overlay").style.display = "none";
            }
        </script>
    </head>
    <body>
        <!-- Overlay -->
        <div id="overlay" class="overlay" style="display: none"></div>

        <!-- Header bar -->
        <div class="header-bar">
            <div class="header-bar__inner">
                <!-- Logo -->
                <a href="/">
                    <div class="logo">
                        <span class="sigma">Sigma</span>
                        <br />
                        Hotel
                    </div>
                </a>

                <!-- Navbar -->
                <nav class="navbar">
                    <ul class="navbar__list">
                        <li class="navbar__item">
                            <a href="/manage-users" class="navbar__link">
                                Manage Users
                            </a>
                        </li>
                        <li class="navbar__item">
                            <a href="/manage-staffs" class="navbar__link">
                                Manage Staffs
                            </a>
                        </li>
                        <li class="navbar__item">
                            <a href="/manage-rooms" class="navbar__link">
                                Manage Rooms
                            </a>
                        </li>
                        <li class="navbar__item">
                            <a href="/manage-bookings" class="navbar__link">
                                Manage Bookings
                            </a>
                        </li>
                        <li class="navbar__item">
                            <a href="#!" class="navbar__link">
                                Manage Payments
                            </a>
                        </li>
                    </ul>
                </nav>

                <!-- Action -->
                <div class="header-action">
                    <a href="login" class="btn signup">Logout</a>
                </div>
            </div>
        </div>

        <!-- Add form -->
        <form
            id="add-form"
            class="popUp-form"
            method="POST"
            action="/add-room"
            style="display: none"
        >
            <h2 class="subsection-title">Add a Room</h2>

            <div class="form-item">
                <label for="RoomNumber">Room Number:</label>
                <input
                    class="form-input"
                    type="number"
                    id="RoomNumber"
                    name="RoomNumber"
                    required
                />
            </div>

            <div class="form-item">
                <label for="TypeID">Type ID:</label>
                <input
                    class="form-input"
                    type="text"
                    id="TypeID"
                    name="TypeID"
                    required
                />
            </div>

            <div class="form-item">
                <label for="Status">Status:</label>
                <input
                    class="form-input"
                    type="text"
                    id="Status"
                    name="Status"
                    required
                />
            </div>

            <div class="form-item">
                <button class="table-btn table-btn__add" type="submit">
                    Add Room
                </button>
                <button
                    class="table-btn table-btn__delete"
                    onclick="AddClose()"
                >
                    Cancel
                </button>
            </div>
        </form>
        <div class="container">
            <h1 class="section-title">Manage Rooms</h1>

            <div class="top-btn__wrap">
                <div></div>
                <button
                    class="top-btn table-btn"
                    id="add-form"
                    onclick="AddOpen()"
                >
                    Add Room
                </button>
            </div>

            <main>
                <h2 class="subsection-title">Rooms List</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Room Number</th>
                            <th>Type</th>
                            <th>Capacity</th>
                            <th>Price</th>
                            <th>Status</th>
                            <th>Managed By</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% users.forEach(user => { %>
                        <tr>
                            <td><%= user.RoomNumber %></td>
                            <td><%= user.Description %></td>
                            <td><%= user.Capacity %></td>
                            <td><%= user.PricePerNight %></td>
                            <td><%= user.Status %></td>
                            <td><%= user.Name %></td>
                            <td>
                                <form method="GET" action="/edit-room">
                                    <input
                                        type="hidden"
                                        name="RoomNumber"
                                        value="<%= user.RoomNumber %>"
                                    />
                                    <button class="table-btn" type="submit">
                                        Edit
                                    </button>
                                </form>
                                <form method="POST" action="/delete-room">
                                    <input
                                        type="hidden"
                                        name="UserID"
                                        value="<%= user.RoomNumber %>"
                                    />
                                    <button
                                        class="table-btn table-btn__delete"
                                        type="submit"
                                    >
                                        Delete
                                    </button>
                                </form>
                            </td>
                        </tr>
                        <% }) %>
                        <!-- Add more rows as needed -->
                    </tbody>
                </table>
            </main>
        </div>
    </body>
</html>
