<!DOCTYPE html>
<html>
<head>
    <title>Manage Users</title>
    <link rel="stylesheet" type="text/css" href="/css/manage-rooms.css">
    <script>
        function showAddRoomForm() {
            document.getElementById('addRoomForm').style.display = 'block';
        }
    </script>
</head>
<body>
    <div class="admin-container">
        <header>
            <h1>Manage Rooms</h1>
            <nav>
                <ul>
                    <li><a href="/admin">Dashboard</a></li>
                    <li><a href="/manage-users">Manage Users</a></li>
                    <li><a href="/manage-staffs">Manage Staffs</a></li>
                    <li><a href="/manage-rooms">Manage Rooms</a></li>
                    <li><a href="/manage-bookings">Manage Bookings</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </nav>
        </header>
        <button class="add-room-btn" onclick="showAddRoomForm()">Add Room</button>
        <form id="addRoomForm" method="POST" action="/add-room" style="display:none;">
            <label for="RoomNumber">Room Number:</label>
            <input type="number" id="RoomNumber" name="RoomNumber" required>
            <label for="TypeID">Type ID:</label>
            <input type="text" id="TypeID" name="TypeID" required>
            <label for="Status">Status:</label>
            <input type="text" id="Status" name="Status" required>
            <button class="submit-add-btn" type="submit">Submit</button>
        </form>

        <main>
            <h2>Rooms List</h2>
            <table>
                <thead>
                    <tr>
                        <th>Room Number</th>
                        <th>Type</th>
                        <th>Capacity</th>
                        <th>Price</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach(user => { %>
                        <tr>
                            <td><%= user.RoomNumber %></td>
                            <td><%= user.Description %></td>
                            <td><%= user.Capacity %></td>
                            <td><%= user.PricePerNight %></td>
                            <td><%= user.Status %></td>
                            <td>
                                <form method="POST" action="/delete-room">
                                    <input type="hidden" name="UserID" value="<%= user.RoomNumber %>">
                                    <button type="submit">Delete</button>
                                </form>
                            </td>
                        </tr>    
                    <% }) %>  
                    <!-- Add more rows as needed -->
                </tbody>
            </table>
        </main>
    </div>
</body>
</html>
