<!DOCTYPE html>
<html>
    <head>
        <title>Manage Users</title>
        <!-- Embed fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet"
        />

        <!-- Reset CSS -->
        <link rel="stylesheet" href="/css/reset.css" />

        <!-- Style -->
        <link rel="stylesheet" href="/css/common.css" />

        <link rel="stylesheet" href="/css/table.css" />
        <script>
            // Add Open Function
            function AddOpen() {
                document.getElementById("add-form").style.display = "block";
                document.getElementById("overlay").style.display = "block";
            }
            // Add Close Function
            function AddClose() {
                document.getElementById("add-form").style.display = "none";
                document.getElementById("overlay").style.display = "none";
            }

            // Filter Open Function
            function FilterOpen() {
                document.getElementById("filter-form").style.display = "block";
                document.getElementById("overlay").style.display = "block";
            }
            // Filter Close Function
            function FilterClose() {
                document.getElementById("filter-form").style.display = "none";
                document.getElementById("overlay").style.display = "none";
            }
        </script>
    </head>
    <body>
        <!-- Overlay -->
        <div id="overlay" class="overlay" style="display: none"></div>

        <!-- Header bar -->
        <div class="header-bar">
            <div class="header-bar__inner">
                <!-- Logo -->
                <a href="/">
                    <div class="logo">
                        <span class="sigma">Sigma</span>
                        <br />
                        Hotel
                    </div>
                </a>

                <!-- Navbar -->
                <nav class="navbar">
                    <ul class="navbar__list">
                        <li class="navbar__item">
                            <a
                                href="/manage-users"
                                class="navbar__link"
                                style="text-decoration: underline"
                            >
                                Manage Users
                            </a>
                        </li>
                        <li class="navbar__item">
                            <a href="/manage-staffs" class="navbar__link">
                                Manage Staffs
                            </a>
                        </li>
                        <li class="navbar__item">
                            <a href="/manage-rooms" class="navbar__link">
                                Manage Rooms
                            </a>
                        </li>
                        <li class="navbar__item">
                            <a href="/manage-bookings" class="navbar__link">
                                Manage Bookings
                            </a>
                        </li>
                        <li class="navbar__item">
                            <a href="/manage-payments" class="navbar__link">
                                Manage Payments
                            </a>
                        </li>
                    </ul>
                </nav>

                <!-- Action -->
                <div class="navbar-action">
                    <a href="/login" class="btn signup">Logout</a>
                </div>
            </div>
        </div>

        <!-- Add form -->
        <form
            id="add-form"
            class="popUp-form"
            method="POST"
            action="/add-user"
            style="display: none"
        >
            <h2 class="subsection-title">Add an User</h2>
            <div class="form-item">
                <label for="username">Username:</label>
                <input
                    class="form-input"
                    type="text"
                    id="username"
                    name="username"
                    required
                />
            </div>
            <div class="form-item">
                <label for="password">Password:</label>
                <input
                    class="form-input"
                    type="password"
                    id="password"
                    name="password"
                    required
                />
            </div>
            <div class="form-item">
                <label for="name">Name:</label>
                <input
                    class="form-input"
                    type="text"
                    id="name"
                    name="name"
                    required
                />
            </div>
            <div class="form-item">
                <label for="email">Email:</label>
                <input
                    class="form-input"
                    type="email"
                    id="email"
                    name="email"
                    required
                />
            </div>
            <div class="form-item">
                <label for="phone">Phone Number:</label>
                <input
                    class="form-input"
                    type="tel"
                    id="phone"
                    name="phone"
                    required
                />
            </div>
            <div class="form-item">
                <label for="address">Address:</label>
                <input
                    class="form-input"
                    type="text"
                    id="address"
                    name="address"
                    required
                />
            </div>
            <div class="form-item">
                <label for="dob">Date of Birth:</label>
                <input
                    class="form-input"
                    type="date"
                    id="dob"
                    name="dob"
                    required
                />
            </div>
            <div class="form-item">
                <button class="table-btn table-btn__add" type="submit">
                    Add
                </button>
                <button
                    class="table-btn table-btn__delete"
                    onclick="AddClose()"
                >
                    Cancel
                </button>
            </div>
        </form>

        <!-- Filter form -->
        <form
            id="filter-form"
            class="popUp-form"
            action="/manage-users"
            method="GET"
            style="display: none"
        >
            <h2 class="subsection-title">Filter</h2>
            <div class="form-item">
                <label for="filterUsername">Username:</label>
                <input
                    class="form-input"
                    type="text"
                    id="filterUsername"
                    name="filterUsername"
                />
            </div>

            <div class="form-item">
                <label for="filterName">Name:</label>
                <input
                    class="form-input"
                    type="text"
                    id="filterName"
                    name="filterName"
                />
            </div>

            <div class="form-item">
                <label for="filterDOB">DOB:</label>
                <input
                    class="form-input"
                    type="text"
                    id="filterDOB"
                    name="filterDOB"
                />
            </div>

            <div class="form-item">
                <label for="filterAddress">Address:</label>
                <input
                    class="form-input"
                    type="text"
                    id="filterAddress"
                    name="filterAddress"
                />
            </div>

            <div class="form-item">
                <label for="filterPhone">Phone:</label>
                <input
                    class="form-input"
                    type="text"
                    id="filterPhone"
                    name="filterPhone"
                />
            </div>

            <div class="form-item">
                <label for="filterEmail">Email:</label>
                <input
                    class="form-input"
                    type="text"
                    id="filterEmail"
                    name="filterEmail"
                />
            </div>

            <div class="form-item">
                <label for="orderBy">Order By:</label>
                <select class="form-input" name="orderBy" id="orderBy" size="1">
                    <option value="GuestID">ID</option>
                    <option value="Username">Username</option>
                    <option value="Name">Name</option>
                    <option value="DOB">DOB</option>
                    <option value="Address">Address</option>
                    <option value="Phone">Phone</option>
                    <option value="Email">Email</option>
                </select>
            </div>

            <div class="form-item">
                <label for="desc">Sort:</label>
                <select class="form-input" name="desc" id="desc" size="1">
                    <option value="ASC">ASC</option>
                    <option value="DESC">DESC</option>
                </select>
            </div>

            <div class="form-item">
                <button class="table-btn table-btn__add" type="submit">
                    Apply Filter
                </button>
                <button
                    class="table-btn table-btn__delete"
                    onclick="FilterClose()"
                >
                    Cancel
                </button>
            </div>
        </form>

        <!-- Main -->
        <main>
            <div class="container">
                <h1 class="section-title">Manage Users</h1>

                <!-- Top button Open-->
                <div class="top-btn__wrap">
                    <!-- Filter button -->
                    <button
                        class="top-btn table-btn"
                        id="filter-btn"
                        onclick="FilterOpen()"
                    >
                        Filter
                    </button>

                    <!-- Add button -->
                    <button
                        class="top-btn table-btn"
                        id="add-btn"
                        onclick="AddOpen()"
                    >
                        Add User
                    </button>
                </div>

                <h2 class="subsection-title">Users List</h2>
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Username</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>DOB</th>
                            <th>Phone</th>
                            <th>Address</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% users.forEach(user => { %>
                        <tr>
                            <td><%= user.GuestID %></td>
                            <td><%= user.Username %></td>
                            <td><%= user.Name %></td>
                            <td><%= user.Email %></td>
                            <td><%= user.Date %></td>
                            <td><%= user.Phone %></td>
                            <td><%= user.Address %></td>
                            <td>
                                <form type="GET" action="/edit-user">
                                    <input
                                        type="hidden"
                                        name="GuestID"
                                        value="<%= user.GuestID %>"
                                    />
                                    <button class="table-btn" type="submit">
                                        Edit
                                    </button>
                                </form>
                                <form method="POST" action="/delete-user">
                                    <input
                                        type="hidden"
                                        name="GuestID"
                                        value="<%= user.GuestID %>"
                                    />
                                    <button
                                        class="table-btn table-btn__delete"
                                        type="submit"
                                    >
                                        Delete
                                    </button>
                                </form>
                            </td>
                        </tr>
                        <% }) %>
                        <!-- Add more rows as needed -->
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>
